# Ignore all
*

# Unignore all with extensions
!*.*
!Makefile
# Unignore all dirs
!*/

*.o
a.out
*~
*.particles
*.pbc
*.gdr
*.bak
*.nvvp

*.sp
*.coord
*.top
*.xyz
*.npy
*.itpd
*.sp
*.dcd
*.psf
*.lammpstrj
*.magnet
*.spm

*.mp4
*.dat

*.qdrep
*.sqlite

*.back
*.log
*.vel
*.lammps
*.itpv
*.list

*.so

*simulation.json
*__pycache__*
*results*
*build*

./bin/UAMMDlauncher

*egg-info*
*dist*

!conda-build
!build.sh